package components

templ Contact() {
<section class="flex pt-12 md:pt-16 relative overflow-hidden justify-start z-0" id="contact">
	<div class="container overflow-hidden flex flex-col pb-16">
		@SectionHeading("Contact")
	</div>
</section>
}
