package home

import (
"github.com/mwaurathealex/static-generator/views/layouts"
"github.com/mwaurathealex/static-generator/views/components"
)

templ Index() {
@layouts.Base() {
@components.NavBar()
@components.Hero()
@About()
@Projects()
@Footer()
}
}

templ About() {
<section id="about">About</section>
}

templ Projects() {
<section id="projects">Projects</section>
}

templ Contact() {
<section id="contact">Contact</section>
}

templ Footer() {
<footer>Footer</footer>
}
