package home

import (
	"github.com/mwaurathealex/static-generator/views/components"
	"github.com/mwaurathealex/static-generator/views/layouts"
)

templ Index() {
	@layouts.Base() {
		@components.Hero()
		@components.About()
		@components.Projects()
		@components.Contact()
	}
}
